/*
    LOG IN PAGE
*/

#mainTitle {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #f5f5f5;
    background-color: #080808;
}
/*
#textOnImage{
    color: #f5f5f5;
}
*/
#button{
    text-align: center;
}

#loginForm{
    float: left;
    padding-top: 20px;
    color: #f5f5f5;
}

#registerForm{
    float: right;
    color: #f5f5f5;
}

#mainPanel{
    background-image: url("http://cdn.superbwallpapers.com/wallpapers/vector/splashing-milk-14187-1680x1050.jpg");
    margin-top: -30px;
    width: 1366px;
    padding: 120px 250px 215px 250px;
}

/*
    HOME PAGE
*/
#sidebar {
    float: left;
    background: #eeeeee;
    width: 20%;
    height: 707px;
    margin-bottom: 20px;
    padding: 10px;

    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.panel {
    margin: 2px;
    height: 80px;
    text-align: center;

}

#painel {
    float: right;
    position: relative;
    width: 78%;
    height: 707px;
    margin-bottom: 20px;
    padding: 10px;

}