@(message: String)

@main("Meu Forum") {
  <header class="jumbotron">
    <div class="container" align="center">
      <h2>Bem vindo a aplicação web: Portal dos leites!</h2>
    </div>
  </header>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">Meu Perfil</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <legend>
      <a href="/logout" class="btn btn-danger pull-right"> LogOut</a>
      <h3 class="text-center"> Bem Vindo(a)! @session.get("user") </h3>
    </legend>

  </div>
}