@(message: String)(loginForm: Form[User])(registroForm: Form[User])

@main("Portal do leite") {



    <section class="chamada">
        <h2 class="texto">PORTAL DO LEITE</h2>
    </section>

    <body id="corpo2" class="center clearfix">
        <div class="page-header">
        </div>

        <br>

        <div id="loginForm" align="center">
            @if(flash.contains("fail")) {
                <p class="bg-danger" style="">
                @flash.get("fail")
                </p>
            }

            <h2 class="text-center" id="textOnImage">Log in</h2>
            @helper.form(routes.Application.authenticate) {
                <p>
                    <input type="email" name="email" placeholder="Email" value='@loginForm("email").value' class="form-control" required>
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password" class="form-control" required>
                </p>
                <div id="button">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            }

        </div>

        <div id="registerForm" align="center">
            @if(flash.contains("fail")) {
                <p class="bg-danger" style="">
                @flash.get("fail")
                </p>
            }

            @helper.form(routes.Application.registrar) {
                <h2 class="text-center" id="textOnImage">Cadastre-se!</h2>

                <p>
                    <input type="text" name="nome" placeholder="Nome" value='@registroForm("nome").value'
                    class="form-control" required>
                </p>
                <p>
                    <input type="email" name="email" placeholder="Email" value='@registroForm("email").value'
                    class="form-control" required>
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password" class="form-control" required>
                </p>
                <div id="button">
                    <button class="btn btn-primary" type="submit" >Registrar</button>
                </div>
            }
        </div>
        <footer>
            <small class="copyright" align="center">
                <p>Copyright © 2015 - Todos os Direitos Reservados a Erick Santana e Lucas Aurelio</p>
            </small>
        </footer>

    </body>



}