@(message: String)(loginForm: Form[User])(registroForm: Form[User])

@main("Portal do leite") {

    <header id="mainTitle">
        <div class="text-center" align="center">
            <h2 class="brand">Portal do leite</h2>
        </div>
    </header>

    <div class="container" id="mainPanel">
        <div id="loginForm">
            @if(flash.contains("fail")) {
                <p class="bg-danger" style="">
                @flash.get("fail")
                </p>
            }

            <h2 class="text-center" id="textOnImage">Log in</h2>
            @helper.form(routes.Application.authenticate) {
                <p>
                    <input type="email" name="email" placeholder="Email" value='@loginForm("email").value' class="form-control" required>
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password" class="form-control" required>
                </p>
                <div id="button">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            }
        </div>

        <div id="registerForm">
            @if(flash.contains("fail")) {
                <p class="bg-danger" style="">
                @flash.get("fail")
                </p>
            }

            @helper.form(routes.Application.registrar) {
                <h2 class="text-center" id="textOnImage">Cadastre-se!</h2>

                <p>
                    <input type="text" name="nome" placeholder="Nome" value='@registroForm("nome").value'
                    class="form-control" required>
                </p>
                <p>
                    <input type="email" name="email" placeholder="Email" value='@registroForm("email").value'
                    class="form-control" required>
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password" class="form-control" required>
                </p>
                <div id="button">
                    <button class="btn btn-primary" type="submit" >Registrar</button>
                </div>
            }
        </div>
    </div>
}