@(message: String)(loginForm: Form[User])(registroForm: Form[User])

@main("Portal dos leites") {
    <header class="jumbotron">
        <div class="container" align="center">
            <h2>Bem vindo a aplicação web: Portal dos leites!</h2>
        </div>
    </header>

    <div class="col-sm-4 col-sm-offset-4">
        @if(flash.contains("fail")) {
            <p class="bg-danger" style="">
            @flash.get("fail")
            </p>
        }

        @helper.form(routes.Application.authenticate) {
            <h1 class="text-center">LogIn</h1>
            <p>
                <input type="email" name="email" placeholder="Email" value='@loginForm("email").value'
                class="form-control">
            </p>
            <p>
                <input type="password" name="pass" placeholder="Password" class="form-control" value='@loginForm("senha").value'>
            </p>
            <div>
                <button class="btn btn-primary" type="submit">Login</button>
                <a class="btn btn-info" style="float:right;" href="/registrar"> Registrar</a>
            </div>
        }
    </div>

    <div class="col-sm-4 col-sm-offset-4">
        @if(flash.contains("fail")) {
            <p class="bg-danger" style="">
            @flash.get("fail")
            </p>
        }

        @helper.form(routes.Application.registrar) {
            <h1 class="text-center">Registrar</h1>

            <p>
                <input type="text" name="nome" placeholder="Nome" value='@registroForm("nome").value'
                class="form-control">
            </p>
            <p>
                <input type="email" name="email" placeholder="Email" value='@registroForm("email").value'
                class="form-control">
            </p>
            <p>
                <input type="password" name="pass" placeholder="Password" class="form-control" value='@registroForm("senha").value'>
            </p>
            <div>
                <button class="btn btn-primary"  type="submit">Registrar</button>
                <a class="btn btn-info" style="float:right;" href="/login"> Login</a>
            </div>
        }
    </div>
}