@(users: List[User])

@main("Portal dos leites") {
    <title>Portal dos leites SI1</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">

    <header class="jumbotron">
        <div class="container" align="center">
            <h2>Bem vindo a aplicação web: Portal dos leites!</h2>
        </div>
    </header>

    <div id="pai">
        <div id="painel" class="panel panel-default">
            <div class="panel-heading">
                <h3 align="center">Cadastre-se no portal</h3>
            </div>

            <div class="panel-body" align="center">
                <form method="post" action="/user">
                    <h5 align="center">Nome</h5>
                    <input name="Nome" type="text" required/><br>
                    <h5 align="center">Email</h5>
                    <input name="Email" type="text" required/><br>
                    <h5 align="center">Senha</h5>
                    <input name="Senha" type="password" required/><br>
                    <h5 align="center">Data de nascimento</h5>
                    <input name="DataNascimento" type="date"><br>
                    <input type="submit">

                </form>
            </div>
        </div>

        <div id="painel2" class="panel panel-default">
            <div class="panel-heading">
                <h3 align="center">Entre no portal</h3>
            </div>

            <div class="panel-body" align="center">
                <form method="get" action="">
                    <h5 align="center">Nome</h5>
                    <input name="Nome" type="text" required/><br>
                    <h5 align="center">Senha</h5>
                    <input name="Senha" type="password" required/><br>
                    <input type="submit" value="entrar">
                </form>
            </div>
        </div>
    </div>
}